/*@font-face {
  font-family: 'neoteric';
  src:url('assets/font/NEOTERIC.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}*/

@charset "UTF-8";

body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: #37302a;
  background: #fff;
  margin:0 auto;
  font-family: 'Roboto', sans-serif;
}

img {right:22.5%; position: fixed; width:55%; height: auto;}

.scrollToTop{
	width:100px; 
	height:130px;
	padding:10px; 
	text-align:center; 
	background: whiteSmoke;
	font-weight: bold;
	color: white;
	text-decoration: none;
	position:fixed;
	top:30px;
	right:20px;
	display:none;
	background: url('arrow_up.png') no-repeat 0px 20px;
}

.scrollToTop:hover{
	text-decoration:none;
}

#map-canvas{
	width:100%;
	height:500px;
}


#page_landing {
  background-image: url(../img/backgrounds/landing-2.jpg);
  background-size: cover;
  height: 900px;
  font-family: 'Roboto', sans-serif;
}

#page_landing:after, #page_about:after, #page_menu:after. #page_contact:after: {
  content: '';
  display: block;
  clear: both;

}

#page_about {
  background-image:  url(../img/backgrounds/about.jpg);
  background-size: cover;
  height: 900px;
    font-family: 'Roboto', sans-serif;
    color: white;
}


#page_about h1 {
  float:right;
  padding-top: 610px;
  padding-right: 16%;
}

#page_menu

#page_contact


.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}


.nav-collapse li {
  width: 100%;
  display: block;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}


.nav-toggle {
  position: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  text-indent: -999px;
  position: relative;
  overflow: hidden;
  width: 70px;
  height: 55px;
  float: right;
}

.nav-toggle:before {
  color: white; /* Edit this to change the icon color */
  font-family: "responsivenav", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 60px;
  text-transform: none;
  position: absolute;
  content: "≡";
  text-indent: 0;
  text-align: center;
  line-height: 55px;
  speak: none;
  width: 100%;
  top:0;
  right:0;
}

.nav-toggle.active::before {
  font-size: 24px;
  content:"x";

/* ------------------------------------------
  RESET
--------------------------------------------- */

a:active,
a:hover {
  outline: 0;
}

@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }


/* ------------------------------------------
  BASE DEMO STYLES
--------------------------------------------- */




/* ------------------------------------------
  NAVIGATION STYLES
  (+ responsive-nav.css file is loaded in the <head>)
--------------------------------------------- */

.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.nav-collapse ul {
  position:fixed;
}

.nav-collapse,
.nav-collapse * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.nav-collapse,
.nav-collapse ul, .nav-collapse li{
  list-style: none;
  width: 50%;
  float: left;
  display: inline-block;
  font-family: 'Roboto', sans-serif;

}


@media screen and (min-width: 40em) {

  img {right:12%; position: fixed; width:30%; height: auto;}
  .nav-collapse li {
    width: 25%;
    *width: 24.9%; /* IE7 Hack */
    _width: 19%; /* IE6 Hack */
  }

  .nav-collapse a {
    color: #fff;
    text-decoration: none;
    width: 100%;
    padding: 0.7em 1em;
    float: left;
    margin: 0;
    padding: 1em;
    text-align: center;
    border-bottom: 0;
  }

  .nav-collapse ul ul a {
  background: transparent;
  padding-left: 5%;
  }

  .nav-collapse ul ul a {
    display: none;
  }

  .js .nav-collapse {
    position: fixed;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}

