/*@font-face {
  font-family: 'neoteric';
  src:url('assets/font/NEOTERIC.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}*/

@charset "UTF-8";

body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: white;
  background: #fff;
  margin:0 auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

img {right:15%; position: absolute; width:70%; height: auto;}


a{text-decoration: none}

/*.scrollToTop{
	width:100px; 
	height:130px;
	padding:10px; 
	text-align:center; 
	background: whiteSmoke;
	font-weight: bold;
	color: white;
	text-decoration: none;
	position:fixed;
	top:30px;
	right:20px;
	display:none;
	background: url('arrow_up.png') no-repeat 0px 20px;
}

.scrollToTop:hover{
	text-decoration:none;
}

#map-canvas{
	width:100%;
	height:500px;
}


#page_landing {
  background-image: url(../img/backgrounds/landing-2.jpg);
  background-size: cover;
  height: 900px;
  font-family: 'Roboto', sans-serif;
}*/


h1 {width:70%;text-align: center; padding-top: 5%; padding-bottom:5%; margin: 0 auto; font-weight: 700; font-family: 'Roboto';}

button { border: none; background-color: transparent; font-style:italic; font-family: 'Roboto'; font-weight: 500; color: white; display: block; font-size: 30px; text-align: center;}

.page {
  background-size: cover;
/*  color: white;*/
  display: block;
}

#page_landing {background-image: url(../img/backgrounds/landing-2.jpg);   height: 520px;}

#page_about {background-color:white;height: auto; color: grey; text-align: center;}

#page_menu {background-image:  url(../img/backgrounds/menu.jpg);  height: auto; clear: both; text-align: center; padding-bottom: 10%;}

#page_contact {background-image:  url(../img/backgrounds/about.jpg);   height: 520px;}

#page_about  p, #page_about h2 {width: 70%; text-align: justify; margin: 0 auto;}

/*.nav-toggle {
  position: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  text-indent: -999px;
  position: relative;
  overflow: hidden;
  width: 70px;
  height: 55px;
  float: right;
}

.nav-toggle:before {
  color: white;  Edit this to change the icon color 
  font-family: "responsivenav", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 60px;
  text-transform: none;
  position: absolute;
  content: "≡";
  text-indent: 0;
  text-align: center;
  line-height: 55px;
  speak: none;
  width: 100%;
  top:0;
  right:0;
}

.nav-toggle.active::before {
  font-size: 24px;
  content:"x";
}*/

/
#page_menu h1 {padding-top: 5%;}
#exit {font-size: 50px; color: black; text-align: left;}
#menu {color: grey; text-align: center;}
a:active,
a:hover {
  outline: 0;
}

#contact_option {display: inline; width: 100%; margin: 0 auto; }
#page_contact h1 {margin: 0 auto; padding-left: 0%;}
#contact_option h2 {width: 2%; display: inline; text-align: center;margin: 0 auto; font-size: 45px;}
#contact_option button {font-weight: 100; font-style: none; font-size: 20px; display: inline;text-align: center;margin: 0 auto;}

@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }

nav li, nav ul{display: none;}

@media screen and (min-width: 320px) {.page {height: 480px;}

}
@media screen and (min-width: 360px) {.page {height: 640px;}}

@media screen and (min-width: 760px) {
  .page {height: 500px;}
  img {right:12%; position: fixed; width:30%; height: auto; top: 0;}

  nav {width: 53%;float: left; position:fixed; text-align: center;padding-top: 1%;}

  .page {height: 700px;}
  #page_about {background-image:  url(../img/backgrounds/about.jpg);}
  nav li, nav ul {
    display: inline-block;
    padding-left: 0;
  }

  nav ul {
    width: 100%;
  }

  nav li { padding: 3%; width: 15%;}

  nav ul ul a {
  background: transparent;
  }
}
